<!-- The Modal -->
<div id="myModal" class="modal">


    <!-- Modal content -->
    <div class="modal-content">
        <button id="myBtnX1" style="color: red;">&times;</button>
        <hr/>
        <div class="myForm">
            <!--name field-->
            <div>
                <label for="id">ID:
                </label>
                <div>
                    <input id="id" name="id" class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="name">Name:
                </label>
                <div>
                    <input id="name" name="name"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="detail">Detail:
                </label>
                <div>
                    <input id="detail" name="detail"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="status">Status:
                </label>
                <div>
                    <input id="status" name="status"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--&lt;!&ndash;name field&ndash;&gt;-->
            <!--<div>-->
                <!--<label for="imgsrc">Image:-->
                <!--</label>-->
                <!--<center>-->
                    <!--<div>-->
                        <!--<a id="imgatt" href="http://escpl.com.np/dartachalaniContact" style="color: rgb(0,255,0)" target="_blank">-->
                            <!--<img id="imgsrc" src="" width="300px" height="300px"></a>-->
                    <!--</div>-->
                <!--</center>-->
            <!--</div>-->

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

            <!--name field-->
            <div>
                <label for="qw">Status:
                </label>
                <div>
                    <input id="qw" name="ggf"
                           class="form-control col-md-7 col-xs-12"/>
                </div>
            </div>

        </div>
        <hr/>
        <hr/>
        <hr/>
        <hr/>
        <button id="myBtnX2" class="btn btn-secondary" style="color: red;">Close</button>

    </div>


</div>
